<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>404</title>
    <link rel="icon" href="../../static/images/material/favicon.ico" th:href="@{/images/favicon.ico}">
</head>
<body>
<!-- 导航 -->
<nav th:replace="_fragment :: menu(null)" class="ui inverted segment m-padded-tb-mini"></nav>

<br/>
<br/>
<br/>

<div class="m-container m-padded-tb-massive">
    <div class="ui error message">
        <div class="ui contianer">
            <h2>404</h2>
            <p>对不起，你访问的资源不存在</p>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>

<!-- 底部 -->
<footer th:replace="_fragment :: footer"  class="ui inverted vertical segment m-padded-tb-large-half"></footer>

</body>
</html>