<!DOCTYPE html>
<html lang="zh-Hans-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>500</title>
</head>
<body>
<nav th:replace="_fragment :: menu(null)" class="ui inverted segment m-padded-tb-mini"></nav>
<br/>
<br/>
<br/>
<div class="m-container m-padded-tb-massive">
    <div class="ui error message">
        <div class="ui container">
            <h2>500</h2>
            <div class="ui divider"></div>
            <p>内部服务器错误</p>
            <p>请联系系统管理员，<a href="mailto:chenaichenet@yeah.net" class="item" style="color: #AE5755"><span>Email : chenaichenet@yeah.net</span></a></p>
            <img class="ui centered large image" src="../../static/images/error/500.png" th:src="@{/images/error/500.png}">
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<footer th:replace="_fragment :: footer"  class="ui inverted vertical segment m-padded-tb-large-half"></footer>
</body>
</html>