<!DOCTYPE html>
<html lang="zh-Hans-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment::head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>关于</title>
</head>
<body>
<nav th:replace="_fragment :: menu(5)" class="ui segment m-padded-tb-mini"></nav>
<div class=" m-container m-padded-tb-large">
    <div class="ui container">
        <div class="ui attached segment">
            <div class="ui fade reveal">
                <div class="visible content">
                    <img th:src="@{/images/material/day.png}" src="../static/images/material/day.png" class="ui image" alt="图片">
                </div>
                <div class="hidden content">
                    <img th:src="@{/images/material/night.png}" src="../static/images/material/night.png" class="ui image" alt="图片">
                </div>
            </div>
        </div>
        <div class="ui top attached segment">
            <div class="ui header"><span th:text="#{about.header.one}">关于网站</span></div>
        </div>
        <div class="ui attached segment m-padded-lr-responsive m-padded-tb-large">
            <h5>✨ 竹风小站</h5>
            <p>个人博客网站，是一个便于搭建和部署的小型个人博客项目。</p>
            <p>该项目采用了IntelliJ IDEA作为开发工具，使用Spring Boot框架基于MVC框架进行开发，使用MySQL数据库，利用HTML，JavaScript，Ajax，Thymeleaf模板引擎和Semantic UI完成界面设计。</p>
            <h5>该项目中的内容仅供技术研究与学习，不作为任何结论性依据，不提供任何商业化应用授权。</h5>
        </div>
        <div class="ui top attached segment">
            <div class="ui header"><span th:text="#{about.header.two}">关于作者</span></div>
        </div>
        <div class="ui attached segment m-padded-lr-responsive m-padded-tb-large">
            <p>👋 竹风有点甜</p>
            <p>🌏 湖南长沙</p>
            <p>🍻 湖南农业大学计算机专业</p>
            <p>⚡ Java / Python / Go / C++</p>
            <p>🏃 乒乓球 / 篮球 / 骑行 / 拳击 / 中国象棋</p>
            <p>📫 chenaichenet@yeah.net</p>
            <p>🔖 吾生也有涯，而知也无涯 。以有涯随无涯，虽殆已，然乐也。</p>
        </div>
        <div class="ui bottom attached segment m-padded-lr-responsive ">
            <a href="https://github.com/chenaichenet" class="ui circular icon button"><i class="github icon"></i></a>
            <a href="" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
            <a href="" class="ui qq circular icon button" data-content="QQ群:514202239" data-position="bottom center"><i class="qq icon"></i></a>
        </div>
        <div class="ui wechat-QR flowing popup transit hidden">
            <img th:src="@{/images/QR.jpg}" src="../static/images/material/QR.jpg" alt="二维码" class="ui rounded image" style="width: 100px;">
        </div>
    </div>
</div>
<br>
<br>
<footer th:replace="_fragment :: footer"  class="ui inverted vertical segment m-padded-tb-large-half"></footer>
<script th:src="@{/js/jquery-3.5.1.min.js}" src="../static/js/jquery-3.5.1.min.js"></script>
<script th:src="@{/lib/semantic/semantic.min.js}" src="../static/lib/semantic/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    $('.wechat').popup({
        popup: $('.wechat-QR'),
        position: 'bottom center'
    });
    $('.qq').popup();
</script>
</body>
</html>