<!DOCTYPE html>
<html lang="zh-Hans-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title th:text="${blog.title}">博客详情</title>
</head>
<body>
<nav th:replace="_fragment :: menu(null)" class="ui segment m-padded-tb-mini"></nav>
<div id="waypoint" class=" m-container m-padded-tb-large">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui right teal ribbon large label">
                <span th:text="${blog.type.name}"></span>
            </div>
            <div class="ui horizontal link list">
                <div class="item" th:replace="_fragment::avatar(${blog.user.avatar},~{::#username},~{})">
                    <img src="#" class="ui avatar image" alt="头像">
                    <div id="username" class="content">
                        <a href="#" class="header" th:href="@{/user/userInfo(userId=${blog.user.id})}" th:text="${blog.user.username}"></a>
                    </div>
                </div>
                <div class="item">
                    <i class="calendar alternate outline icon"></i><span style="display: inline-block;	vertical-align:middle;" th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}"></span>
                </div>
                <div class="item">
                    <i class="eye icon"></i><span style="display: inline-block;	vertical-align:middle;" class="m-text" th:text="| ${blog.views}|"></span>
                </div>
                <div class="item">
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <img src="#" th:src="@{${blog.picture}}" class="ui fluid rounded image" alt="博客图片">
        </div>
        <div class="ui attached segment">
            <h2 id="title" class="ui center aligned header m-padded" th:text="${blog.title}"></h2>
            <div id="content" class="typo typo-selection m-padded-lr-responsive m-padded-tb-large js-toc-content" th:utext="${blog.content}"></div>
        </div>
        <div class="ui attached positive message">
            <div class="ui middle aligned grid">
                <div class="column">
                    <ui class="list">
                        <li><span th:text="#{blog.author}">作者：</span><span th:text="${blog.user.username}">陈十七</span><a href="#" th:href="'mailto:'+${blog.user.email}" th:text="#{blog.author.contact}">（联系作者）</a></li>
                        <li><span th:text="#{blog.publicationTime}">发表时间：</span><span th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}"></span></li>
                        <li><span></span></li>
                        <li th:text="#{blog.other}">转载：请联系作者授权</li>
                    </ui>
                </div>
            </div>
        </div>
        <div class="ui bottom attached segment">
            <div id="comment-container" class="ui teal segment">
                <div th:fragment="commentList">
                    <div class="ui threaded comments" style="max-width: 100%">
                        <h3 class="ui dividing header" th:text="#{blog.comment.header}">评论</h3>
                        <div class="comment" th:each="comment:${comments}">
                            <div class="avatar">
                                <img th:replace="_fragment::images(${comment.user.avatar})" src="#" alt="头像">
                            </div>
                            <div class="content">
                                <a class="author" th:href="@{/user/userInfo(userId=${comment.user.id})}">
                                    <span th:text="${comment.user.username}"></span>
                                    <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${comment.adminComment}" th:text="#{blog.comment.tip}">作者</div>
                                </a>
                                <div class="metadata">
                                    <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}"></span>
                                </div>
                                <div class="text" th:text="${comment.content}"></div>
                                <div class="actions">
                                    <a class="reply" data-commentid="1" data-commentusername="Matt" th:attr="data-commentid=${comment.id},data-commentusername=${comment.user.username}" onclick="reply(this)" th:text="#{blog.comment.reply}">回复</a>
                                    <a class="reply" th:if="${session.user.id == comment.user.id || session.user.role == 2 || session.user.id == comment.blog.user.id}" th:attr="data-commentid=${comment.id},data-commentusername=${comment.user.username}" th:onclick="deleteComment([[${comment.blog.id}]],[[${comment.id}]]);" th:text="#{blog.comment.delete}">删除</a>
                                </div>
                            </div>
                            <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                                <div class="content">
                                    <div class="comment" th:each="reply:${comment.replyComments}">
                                        <a class="avatar" th:href="@{/user/userInfo(userId=${reply.user.id})}">
                                            <img th:replace="_fragment::images(${reply.user.avatar})" src="#" alt="头像">
                                        </a>
                                        <div class="content">
                                            <a class="author" th:href="@{/user/userInfo(userId=${reply.user.id})}">
                                                <span th:text="${reply.user.username}"></span>
                                                <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${reply.adminComment}" th:text="#{blog.comment.tip}">作者</div>
                                            </a>
                                            <a th:text="|@${reply.parentComment.user.username}|" style="color: teal" th:href="@{/user/userInfo(userId=${reply.parentComment.user.id})}"></a>
                                            <div class="metadata">
                                                <span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}"></span>
                                            </div>
                                            <div class="text" th:text="${reply.content}"></div>
                                            <div class="actions">
                                                <a class="reply" data-commentid="1" data-commentusername="Matt" th:attr="data-commentid=${reply.id},data-commentusername=${reply.user.username}" onclick="reply(this)" th:text="#{blog.comment.reply}">回复</a>
                                                <a class="delete" th:if="${session.user.id == reply.user.id || session.user.role == 2 || session.user.id == reply.blog.user.id}" th:attr="data-commentid=${reply.id},data-commentusername=${reply.user.username}" th:onclick="deleteComment([[${comment.blog.id}]],[[${reply.id}]]);" th:text="#{blog.comment.delete}">删除</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="comment-form" class="ui comment form">
                <input type="hidden" name="blog.id" th:value="${blog.id}">
                <input type="hidden" name="parentComment.id" value="-1">
                <div class="field">
                    <textarea name="content" placeholder="输入评论..." th:placeholder="#{blog.comment.enterComments}"></textarea>
                </div>
                <div class="fields">
                    <div style="float: right" class="field m-mobile-wide m-margin-bottom-mini">
                        <button id="commentPost-btn" type="button" style="float: right" class="ui teal button m-mobile-wide"><i class="edit icon"></i><span th:text="#{blog.comment.send}">发送</span></button>
                    </div>
                </div>
            </div>
            <div class="ui mini modal">
                <i class="close icon"></i>
                <div class="header">
                    <span th:text="#{blog.comment.delete.header}">删除评论</span>
                </div>
                <div class="content">
                    <div class="description">
                        <div class="ui header"><span th:text="#{blog.comment.delete.tip}">删除后不可恢复</span></div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui red deny button">
                        <span th:text="#{blog.comment.delete.no}">否</span>
                    </div>
                    <div class="ui positive right button">
                        <a id="deleteComment" style="color: white"><span th:text="#{blog.comment.delete.yes}">是</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="toolbar" class="m-padded m-fixed m-right-bottom" style="display: none;">
    <div class="ui vertical icon buttons" th:fragment="toolbar">
        <button type="button" class="ui toc teal button"><span th:text="#{blog.catalogue}">目录</span></button>
        <a href="#comment-container" class="ui teal button"><span th:text="#{blog.comment}">评论</span></a>
        <button class="ui wechat icon button"><i class="weixin icon"></i></button>
        <button id="toTop-button" class="ui icon button"><i class="chevron up icon"></i></button>
    </div>
</div>
<div class="ui toc-container flowing popup transition hidden" style="width: 300px;">
    <ol class="js-toc"></ol>
</div>
<div id="qrcode" class="ui wechat-QR flowing popup transit hidden" style="width: 130px;"></div>
<br>
<br>
<footer th:replace="_fragment :: footer"  class="ui inverted vertical segment m-padded-tb-large-half"></footer>
<script th:src="@{/js/jquery-3.5.1.min.js}" src="../static/js/jquery-3.5.1.min.js"></script>
<script th:src="@{/lib/semantic/semantic.min.js}" src="../static/lib/semantic/semantic.min.js"></script>
<script th:src="@{/lib/tocbot/tocbot.min.js}" src="../static/lib/tocbot/tocbot.min.js"></script>
<script th:src="@{/lib/qrcode/qrcode.min.js}" src="../static/lib/qrcode/qrcode.min.js"></script>
<script th:src="@{/js/jquery.scrollTo.min.js}" src="../static/js/jquery.scrollTo.min.js"></script>
<script th:src="@{/lib/waypoint/jquery.waypoints.min.js}" src="../static/lib/waypoint/jquery.waypoints.min.js"></script>
<script th:inline="javascript">
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    $('.toc.button').popup({
        popup: $('.toc-container.popup'),
        on: 'click',
        position: 'left center'
    });
    $('.wechat').popup({
        popup: $('.wechat-QR'),
        position: 'left center'
    });
    $('#toTop-button').click(function () {
        $(window).scrollTo(0, 1000);
    });
    tocbot.init({
        tocSelector: '.js-toc',
        contentSelector: '.js-toc-content',
        headingSelector: 'h1, h2, h3',
        hasInnerContainers: true,
    });
    var serverurl="https://www.chenetchen.ltd"
    var url = "/blog/"+[[${blog.id}]];
    var qrcode = new QRCode("qrcode", {
        text: serverurl+url,
        width: 110,
        height: 110,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });
    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function (direction) {
            if (direction === 'down') {
                $('#toolbar').show(300);
            } else {
                $('#toolbar').hide(500);
            }
            console.log('Scrolled to waypoint!')
        }
    });
    $(function () {
        $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/"comments/1");
        //todo-chen 前端使用数组存储评论信息
    });
    $('.ui.comment.form').form({
        fields:{
            title:{
                identifier: 'content',
                rules:[{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }]
            }
        }
    });
    $('#commentPost-btn').click(function () {
        var boo = $('.ui.form').form('validate form');  //校验表单，返回值确定
        if (boo){
            console.log('校验成功');
            postData();
        }else {
            console.log('校验失败');
            postData();
        }
    });
    function postData() {
        $("#comment-container").load(/*[[@{/comment}]]*/"",{   //发送Ajax请求到comment
           "parentComment.id":$("[name='parentComment.id']").val(),
            "blog.id":$("[name='blog.id']").val(),
            "content":$("[name='content']").val(),
        },function (responseTxt,statusTxt,xhr) {
            clearContent();
        });
    }
    function clearContent() {
        $("[name='parentComment.id']").val(-1);
        $("[name='content']").val('').attr("placeholder","请输入评论信息...").focus();
    }
    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var commentUsername = $(obj).data('commentusername');
        $("[name='content']").attr("placeholder","@"+commentUsername).focus();
        $("[name='parentComment.id']").val(commentId);
        $(window).scrollTo($('#comment-form'),500);
    }
    function deleteComment(blogId,commentId) {
        $('.ui.mini.modal').modal('show');
        // $("#deleteComment").attr("href","comment/delete?blogId="+blogId+"&commentId="+commentId);
        $('#deleteComment').click(function (){
            $("#comment-container").load("/comment/delete",{
                "blogId": blogId,
                "commentId": commentId,
            })
        })
    }
</script>
</body>
</html>