<!DOCTYPE html>
<html lang="zh-Hans-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title th:text="${notice.title}">公告详情</title>
</head>
<body>
<nav th:replace="_fragment :: menu(null)" class="ui segment m-padded-tb-mini"></nav>
<div id="waypoint" class=" m-container m-padded-tb-large">
    <div class="ui container">
        <div class="ui attached segment">
            <h2 id="title" class="ui center aligned header m-padded" th:text="${notice.title}"></h2>
            <div id="content" class="typo typo-selection m-padded-lr-responsive m-padded-tb-large js-toc-content" th:utext="${notice.content}"></div>
        </div>
        <div class="ui attached positive message">
            <div class="ui middle aligned grid">
                <div class="column">
                    <ui class="list">
                        <li><span th:text="#{notice.from}">来源：</span><span>陈十七</span><a href="mailto:chenaichenet@yeah.net"><span th:text="#{notice.contact}">（联系我）</span></a></li>
                        <li><span th:text="#{notice.publicationTime}">发表时间：</span><span th:text="${#dates.format(notice.createTime,'yyyy-MM-dd')}">2021-5-9</span></li>
                        <li th:text="#{notice.message}">阅读即代表同意该公告，有异议、疑问或建议可联系管理员</li>
                    </ui>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<footer th:replace="_fragment :: footer"  class="ui inverted vertical segment m-padded-tb-large-half"></footer>
<script th:src="@{/js/jquery-3.5.1.min.js}" src="../static/js/jquery-3.5.1.min.js"></script>
<script th:src="@{/lib/semantic/semantic.min.js}" src="../static/lib/semantic/semantic.min.js"></script>
<script th:src="@{/lib/tocbot/tocbot.min.js}" src="../static/lib/tocbot/tocbot.min.js"></script>
<script th:inline="javascript">
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</body>
</html>